:root {
    --Blanco: #fff;
    --AzulCLaro: #3498db;
    --VerdeClaro: #2ecc71;
    --Rojo: #e74c3c;
    --GrisClaro: #dfe9f3;
    --obscuro: #333;
    --AzulGris: #2c3e50;
    --Naranja: #e67e22;
    --seagreen: #2E8B57;
    --VerdeObscuro: #006400;
    --verdeaqua: #66CDAA;
    --Azulligero: #ADD8E6;
    --verdemasclaro: #4bb578;
    --Amarillo: #FFD700;
}

/* * {box-sizing:border-box} */

body, html {
    height: 100%;
} 

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.container{
    max-width: 85%;
    margin: 0 auto;
    padding: 20px;
}

.controles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
select, input, button {
    padding: 8px;
    font-size: 16px;
}
.cuadricula {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.programa {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.programa:hover {
    transform: scale(1.015);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.programa img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.programa-info {
    padding: 10px;
}
.programa-nombre {
    font-weight: bold;
    margin-bottom: 5px;
}
.lista .programa {
    display: flex;
    align-items: center;
}
.lista .programa img {
    width: 100px;
    height: 100px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}
.contenido-modal {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 40px;
}
.cerrar {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.cerrar:hover {
    color: #000;
}
.imagen-modal {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin: 0 auto 30px;
    display: block;
}
.modal-info {
    margin-top: 20px;
}
.modal-info h2 {
    margin-top: 0;
}
@media (max-width: 600px) {
    .cuadricula {
        grid-template-columns: 1fr;
    }
    .contenido-modal {
        width: 95%;
        margin: 10% auto;
    }
    .imagen-modal {
        width: 80%;
        height: auto;
    }
}
button {
    background-color: #4CAF50;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

svg {
    fill: white;
}
.cuadricula .programa {
    display: inline-block;
    width: 200px;
    margin: 10px;
}

.lista .programa {
    display: flex;
    width: 100%;
    margin: 10px 0;
}
