:root {
    --Blanco: #fff;
    --AzulCLaro: #3498db;
    --VerdeClaro: #2ecc71;
    --Rojo: #e74c3c;
    --GrisClaro: #dfe9f3;
    --obscuro: #333;
    --AzulGris: #2c3e50;
    --Naranja: #e67e22;
    --seagreen: #2E8B57;
    --VerdeObscuro: #006400;
    --verdeaqua: #66CDAA;
    --Azulligero: #ADD8E6;
    --verdemasclaro: #4bb578;
    --Amarillo: #FFD700;
}

* {box-sizing:border-box}

body, html {
    height: 100%;
} 
 
body {
    background-size: cover;
    background: radial-gradient(circle, #E0FFFF 0%, #ADD8E6 25%, #F0F8FF 70%);
    font-family: Arial, Helvetica, sans-serif;
    /* transition: all 2s ease; */
    margin: 0;
    padding: 0;
}


@keyframes colorChange {
    0% {
        color: var(--Rojo);
    }
    33% {
        color: var(--VerdeClaro);
    }
    66% {
        color: var(--AzulCLaro);
    }
    100% {
        color: var(--Rojo);
    }
} 
h1 {
    animation: colorChange 5s infinite;
    text-align: center;
}
h3{
    text-align: justify;
    font-weight: bold;
    font-size: 2rem;
}
h3, p, a, ul {
    text-align: center;
    margin: 0 auto;
}
a {
    color: var(--Blanco);
}


/* Barra de Navegacion Inicio*/
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        width: 50px;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--VerdeClaro);
    padding: 10px 250px;
    border-radius: 4rem;
    margin: 20px;
}

.logo img {
    width: 60px;
    height: auto;
    margin-left: -290%;
}

.nav-links {
    font-weight: bold;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
    position: relative;
}

.nav-links a {
    color: var(--Blanco);
    text-decoration: none;
    font-size: 15px;
}

.nav-links a:hover {
    color: var(--obscuro);
    text-decoration: underline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--Blanco);
    list-style: none;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.dropdown-content li {
    margin: 0;
}

.dropdown-content a {
    color: var(--obscuro);
    padding: 10px 20px;
    display: block;
    text-decoration: none;
}

.dropdown-content li:first-child a:hover{
    border-radius: 4px 4px 0 0;
}

.dropdown-content li:last-child a:hover{
    border-radius: 0 0 5px 5px;
}

.dropdown-content a:hover {
    background-color: var(--VerdeClaro);
}

.dropdown:hover .dropdown-content {
    display: block; 
} 
/* Barra de Navegacion Fin*/

/* Galeria container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
  text-align: center; /* Centra el contenido */
  z-index: -1;

}

.mySlides img {
    border-radius: 2%;
    text-align: center;
    width: 50%;
    border: 5px solid var(--VerdeObscuro); /* Marco para las imágenes */
    padding: 6px; /* Espacio entre imagen y borde */
    margin: 20px auto; /* Centra las imágenes */
}
.mySlides {
  display: none;
  margin-top: 50px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Fin Proyectos */


/* Barra de busqueda Inicio */
.ContenedorBoton {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transform: none;
    padding: 10px;
}

input {
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 0;
    padding: 0 10px;
    color: var(--obscuro);
    border-radius: .5rem;
    font-size: 17px;
    border: 1px solid var(--obscuro);
    transition: all .7s ease;
}

::placeholder {
    color: var(--obscuro);
}

.boton {
    width: 60px;
    height: 60px;
    background-color: var(--VerdeClaro);
    line-height: 80px;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 20px;
}
.boton:hover {
    background: var(--seagreen);
}  

.boton i {
    font-size: 30px;
    color: var(--Blanco);
    line-height: 50%;
    transition: all .7s ease;
}

.ContenedorBoton:hover input {
    width: 350px;
}  
/* Barra de busqueda Fin */

/* Botones de redes sociales inicio */
.social-buttons {
    position: fixed;
    bottom: 20%;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-button {
    text-decoration: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Blanco);
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.social-button i {
    font-size: 25px;
}

.whatsapp {
    background: linear-gradient(145deg, #25D366, #128C7E); /* Verde de WhatsApp */
}

.instagram {
    background: linear-gradient(145deg, #F58529, #DD2A7B, #8134B8); /* Colores de Instagram */
}

.facebook {
    background: linear-gradient(145deg, #4267B2, #3B5998); /* Azul de Facebook */
}

.spotify {
    background: linear-gradient(145deg, #1DB954, #1ED760); /* Verde de Spotify */
}

.social-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    background-color: var(--Amarillo);
}
/* Botones de redes sociales fin */


/* uaa inicio */
.container-uaa {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.container-uaa a{
    text-decoration: none;
}

.container-uaa img {
    border-radius: 6px;
    width: 180px;
    height: 180px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 20px;

}

.container-uaa img .dark{
    background-color: var(--GrisClaro);
} 

.container-uaa img:hover {
    transform: scale(1.2);
} 
/* uaa fin */

/* consejo ciudadano inicio */

/* Alinear los miembros del consejo en forma de lista vertical */

.documentos-texto ul {
    padding-left: 0; /* Centra la lista eliminando padding */
}

.documentos-texto li {
    margin-bottom: 20px;
    list-style: none;
}

.documentos-texto a {
    text-decoration: none;
    color: var(--obscuro);
}

.documentos-texto a strong {
    padding: 1px 13px;
    background-color: var(--VerdeClaro);
    border-radius: 1rem;
    font-size: 20px;
}

.documentos-texto a:hover strong {
    background-color: var(--seagreen);
} 

/* consejo ciudadano fin */

/* google maps */
/* Estilo para el mapa de Google con marco */
.map-container {
    margin: 20px auto;
    border: 5px solid var(--Naranja); /* Borde del contenedor */
    border-radius: 1rem; /* Esquinas redondeadas */
    padding: 4px; /* Espacio interno */
    height: 56%;
    width: 60%; /* Controlar el ancho del marco */
    max-width: 800px; /* Ancho máximo del marco */
}

.map-container iframe {
    width: 100%; /* El iframe ocupa todo el ancho del contenedor */
    height: 400px; /* Altura del iframe */
    border-radius: 1rem;
    border: none; /* Sin borde en el iframe */
}
/* fin maps */


footer {
    background-color: var(--VerdeClaro);
    padding: .2%;
    text-align: center;
    font-weight: bold;
    font-size: auto;
    padding-left: 13%;
} 