h1 {
    animation: colorChange 5s infinite;
    text-align: center;
}
h3{
    /* text-align: justify; */
    font-weight: bold;
    font-size: 2rem;
}
ul {
    list-style: none;
}
h3, p, li{
    text-align: center;
    margin: 0 auto;
}



/* Galeria container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
  text-align: center; /* Centra el contenido */
  z-index: -1;

}

.mySlides img {
    border-radius: 12px;
    text-align: center;
    width: 50%;
    /* border: 5px solid var(--VerdeObscuro); */
    padding: 6px;
    margin: 20px auto;
    box-shadow: 0 4px 15px rgba(0, 128, 0, 0.4);
    background: linear-gradient(145deg, #66ff99, #00cc44, #006600); 
}
.mySlides {
  display: none;
  margin-top: 50px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Fin Proyectos */


/* uaa inicio */
.container-uaa {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.container-uaa a{
    text-decoration: none;
}

.container-uaa img {
    border-radius: 6px;
    width: 180px;
    height: 180px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.container-uaa img .dark{
    background-color: var(--GrisClaro);
} 

.container-uaa img:hover {
    transform: scale(1.1);
} 
/* uaa fin */

/* google maps */
/* Estilo para el mapa de Google con marco */
.map-container {
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;   
    border-radius: 1rem; /* Esquinas redondeadas */
    height: 56%;
    width: 60%; /* Controlar el ancho del marco */
    max-width: 800px; /* Ancho máximo del marco */
}

.map-container iframe {
    width: 100%; /* El iframe ocupa todo el ancho del contenedor */
    height: 400px; /* Altura del iframe */
    border-radius: 1rem;
    border: none; /* Sin borde en el iframe */
}
/* fin maps */


footer {
    background-color: var(--VerdeClaro);
    padding: .2%;
    text-align: center;
    font-weight: bold;
    font-size: auto;
    padding-left: 13%;
} 