/* Defensoria de las audiencias fin */

.contenido-defensoria-fondo {
    text-align: center; 
}

.contenido-defensoria-fondo h1 {
    margin-bottom: 40px; 
    font-size: 3rem; 
}

.contenido-defensoria-fondo img {
    display: block;
    margin: 0 auto 100px; /* Espacio abajo de 20px */
    max-width: 100%; 
    height: auto; 
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* Text styling */
.texto-defensoria h2 {
    text-align: justify;
    font-size: 30px;
    margin:  0px 90px;
}
  
.texto-defensoria p {
    margin: 20px 90px;
    list-style: none;
}

.texto-defensoria a {
    /* display: flex;  */
    align-items: center;
    margin: 5px 0; 
    text-decoration: none; 
    color: red; 
}

.texto-defensoria a:hover {
    text-decoration: underline; 
}

.defensoria-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    max-width: 100%; 
    margin: 0 70px;
}

.defensoria-container img {
    width: 650px; 
    height: auto; 
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.defensoria-container div {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center; 
}


.links-defensoria {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    font-size: 16px;
    margin: 0px 30px;
}

.archivo-documentos a {
    display: flex; 
    align-items: center;
    margin: 5px 90px; 
    text-decoration: none; 
    color: red;

}
.archivo-documentos a:hover {
    color: inherit;
    text-decoration: underline; 
}

  
@media (prefers-color-scheme: dark) {
    .new-boton:hover {
        color: var(--obscuro); 
    }
}
.new-boton p{
    color: var(--Blanco);
}
.contenedor-Lic {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 10px; 
}
/* Defensoria de las audiencias fin */

/* Defensoria de la audiencia inicio */
.derechos h1{
    text-align: center;
    font-size: 3rem;
}
.derechos p{
    margin: 20px 90px;
}
.derechos ul{
    margin: 20px 170px;
}
.derechos li{
    list-style-type: circle;
}

.button-back {
    text-align: end; /* Alinea el botón a la derecha */
    margin: 20px 170px;
}
.button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    font-size: 16px; 
    font-weight: bold; 
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}
.button:hover {
    background-color: #45a049; 
}

/* Defensoria de la audiencia fin */

/* Quejas inicio */

.container-quejas {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.izquierda-quejas,
.derecha-quejas {
    width: 50%;
}

.izquierda-quejas h1 {
    font-size: 3rem;
}

.izquierda-quejas h2 {
    font-size: 1.5rem;
    margin: 0 10px;

}

.izquierda-quejas p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6;
    
}



.formulario {
    background-color: #2e8b57; /* Seagreen */
    width: min(60rem, 100%);
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #ffffff; /* Blanco */
    letter-spacing: 1px;
}

.campo {
    margin-bottom: 1.5rem;
}

.campo label {
    color: #ffffff; /* Blanco */
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    font-size: 1.1rem;
}

.input-text,
.campo textarea {
    width: 100%; /* Ajusta automáticamente al ancho del contenedor */
    max-width: 500px; /* Ancho máximo controlable */
    height: 40px; /* Altura estándar */
    padding: 0.8rem 1rem;
    border: 1px solid #dcdcdc; /* Gris borde */
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f5f5f5; /* Gris claro */
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input-text:focus,
.campo textarea:focus {
    border-color: #218838; /* Verde oscuro */
    outline: none;
    box-shadow: 0px 0px 5px #218838;
}

.campo textarea {
    height: 150px; /* Altura controlable */
    resize: vertical; /* Permite redimensionar verticalmente */
}

.new-boton-formulario {
    background-color: #218838; /* Verde oscuro */
    color: #ffffff; /* Blanco */
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.2s;
    display: block;
    margin: 0 auto;
}

.new-boton-formulario:hover {
    background-color: #28a745; /* Verde claro */
    transform: scale(1.05);
}

.new-boton-formulario:active {
    background-color: #218838; /* Verde oscuro */
    transform: scale(1);
}

/* Quejas inicio */

/* Transparencia inicio */
.texto-transparencia h1{
    text-align: center;
    font-size: 3rem;

}
.texto-transparencia h2 {
    text-align: justify;
    font-size: 30px;
    margin: 10px 30px;
}
  
.texto-transparencia p {
    margin: 20px 100px;
    /* list-style: none; */
}


.transparencia-documentos {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin: 5px 100px;
    text-decoration: none;
}

.links-transparencia {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    font-size: 16px;
    margin: 0px 70px;
}

.texto-transparencia a {
    display: flex; 
    align-items: center;
    margin: 5px 30px; 
    text-decoration: none; 
    color: red; 
}

.texto-transparencia a:hover {
    color: inherit;
    text-decoration: underline; 
}

/* Transparencia fin */


/* Politica inicio */

.texto-politica h1{
    text-align: center;
    font-size: 3rem;

}
.texto-politica h2 {
    text-align: justify;
    font-size: 30px;
    margin:  0px 90px;
}
  
.texto-politica p {
    margin: 20px 90px;
    /* list-style: none; */
}

/* Politica fin */
