/* Defensoria de las audiencias inicio */

/* .contenido-defensoria-fondo {
    text-align: center; 
} */

/* .contenido-defensoria-fondo h1 {
    margin-bottom: 40px; 
    font-size: 3rem; 
} */

.contenido-defensoria-fondo img {
    display: block;
    margin: 0 auto 100px; /* Espacio abajo de 20px */
    max-width: 100%; 
    height: auto; 
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}


/* Text styling */
.texto-defensoria h2 {
    text-align: justify;
    font-size: 30px;
    margin:  0px 90px;
}
  
.texto-defensoria p {
    margin: 20px 90px;
    list-style: none;
}

.texto-defensoria a {
    /* display: flex;  */
    align-items: center;
    margin: 5px 0; 
    /* text-decoration: none; */
    /* color: #027543; */
}

/* .texto-defensoria a:hover {
    color: inherit;
    text-decoration: underline; 
} */

.defensoria-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    max-width: 100%; 
    margin: 0 70px;
}

.defensoria-container img {
    width: 650px; 
    height: auto; 
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.defensoria-container div {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center; 
}


.links-defensoria {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    font-size: 16px;
    margin: 0px 30px;
}

.archivo-documentos a {
    display: flex; 
    align-items: center;
    margin: 5px 90px; 
    /* text-decoration: none;  */
    /* color: #027543; */

}
/* .archivo-documentos a:hover {
    color: inherit;
    text-decoration: underline; 
} */

  
/* @media (prefers-color-scheme: dark) {
    .new-boton:hover {
        color: var(--obscuro); 
    }
} */
.new-boton p{
    color: var(--Blanco);
}
.contenedor-Lic {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 10px; 
}
/* Defensoria de las audiencias fin */

/* Defensoria de la audiencia inicio */
/* .derechos h1{
    text-align: center;
    font-size: 3rem;
} */
.derechos p{
    margin: 20px 90px;
}
.derechos ul{
    margin: 20px 170px;
}
.derechos li{
    list-style-type: circle;
}

.button-back {
    text-align: end; /* Alinea el botón a la derecha */
    margin: 20px 170px;
}
.button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    font-size: 16px; 
    font-weight: bold; 
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}
.button:hover {
    background-color: #45a049; 
}

/* Defensoria de la audiencia fin */



/* Quejas inicio */

/* Container */
.container-quejas {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    /* background-color: #ffffff; */
    border-radius: 15px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); */
}

/* Header Section */
.izquierda-quejas {
    text-align: center;
    margin-bottom: 20px;
}

.izquierda-quejas h1 {
    /* font-size: 2.5rem; */
    /* color: #218838; */
    /* margin-bottom: 10px; */
}

.izquierda-quejas h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    /* color: #027543; */
}

.izquierda-quejas p {
    font-size: 1rem;
    line-height: 1.8;
    /* color: white; */
}

/* Formulario Section */
.formulario {
    width: 100%;
    max-width: 800px;
    padding: 40px 20px;
    margin:  0 280px;
    /* background: linear-gradient(145deg, #027543, #218838); */
    border-radius: 15px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, .9); */
}

/* Form Title */
.formulario h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Field Layout */
.campo-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.campo {
    flex: 1 1 calc(50% - 10px);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Labels */
.campo label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    /* color: #ffffff; */
    text-transform: uppercase;
}

/* Input Fields */
.input-group {
    position: relative;
    /* color: white; */
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 12px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    /* background-color: #f3eeee; */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, .7); */
    /* transition: all 0.3s ease; */
    /* color: #d00000; */
}

.input-group input:focus,
.input-group textarea:focus {
    /* outline: none; */
    /* box-shadow: 0 0 5px #28a745; */
    /* background-color: #ffffff; */
}

/* Textarea */
.campo textarea {
    resize: vertical;
    height: 120px;
    
}

/* Submit Button */
.new-boton-formulario {
    padding: 15px 0;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    display: block;
    width: 80%;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, .9); */
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 20px 80px;
}

.new-boton-formulario:hover {
    /* background-color: #218838; */
    transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
    .campo {
        flex: 1 1 100%;
    }

    .formulario {
        padding: 20px;
    }
}
/* Quejas fin */


/* Transparencia inicio */
/* .texto-transparencia h1{
    text-align: center;
    font-size: 3rem;

} */
.texto-transparencia h2 {
    text-align: justify;
    font-size: 30px;
    margin: 10px 30px;
}
  
.texto-transparencia p {
    margin: 20px 100px;
    /* list-style: none; */
}


.transparencia-documentos {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin: 5px 100px;
    text-decoration: none;
}

.links-transparencia {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    font-size: 16px;
    margin: 0px 70px;
}

.texto-transparencia a {
    display: flex; 
    align-items: center;
    margin: 5px 30px; 
    /* text-decoration: none;  */
    /* color: #027543; */
}

/* .texto-transparencia a:hover {
    color: inherit;
    text-decoration: underline; 
} */

/* Transparencia fin */


/* Politica inicio */

.texto-politica h1{
    text-align: center;
    font-size: 3rem;

}
.texto-politica h2 {
    text-align: justify;
    font-size: 30px;
    margin:  0px 90px;
}
  
.texto-politica p {
    margin: 20px 90px;
    /* list-style: none; */
}

/* .lista-op {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    font-size: 16px;
    margin: 0px 60px;
} */

.lista-op a {
    /* display: flex;  */
    align-items: center;
    /* margin: 10px 0;  */
    text-decoration: none; 
    color: #027543; 
}

.lista-op a:hover {
    color: inherit;
    text-decoration: underline; 
}

/* Politica fin */
