.container{
    /* width: 100%; */
    padding: 6rem;   
    /* display:flex; */
    justify-content: space-between;
    /* align-items: center; */
    /* gap: 10rem; */
}
   
.titulos{
    /* max-width: 50%; */
    /* box-sizing: border-box; */
    /* margin-top: 6%; */
    text-align: center;
    /* animation: colorChange 5s infinite; */
    /* z-index: -6; */
}


.slider-box{
    width: 50%;
    /* box-sizing: border-box; */
    overflow: hidden;
    /* position: relative; */
    margin: 0 auto; /* Centra el slider horizontalmente */
    border: solid 10px var(--VerdeClaro);
    border-radius: 1rem;
}
.slider-box ul{
    display: flex;
    width: 400%;
    animation: slide 20s infinite linear; /* Cambiado para un movimiento continuo */
    /* list-style: none; */
}
.slider-box li{
    height: 300px;
}
.slider-box img{
    width: 730px;
    height: 350px;
    margin-top: -3%; 
    /* object-fit: cover;  */
}
@keyframes slide {
    100% { transform: translateX(-55%); } /* Desplazar todo el contenido del carrusel */
}

.radio-player {
    background-color: #027543;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 1;
}

.radio-player > div {
    /* background-color: yellow; */
}

.current-program-info {
    /* background-color: teal; */
    width: 50%;
    height: 100%;
    display: flex;
    padding: 10px;
}

.current-program-info img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.current-program-info > div {
    height: 70px;
    /* background-color: tan; */
    margin: 0 10px 10px 10px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-content: space-between; */
    /* width: 100px; */
}

.current-program-info > div > div {
    height: calc(100% / 3);
    display: flex;
    align-items: end;
}

.current-program-info > div > div:nth-child(odd) {
    /* background-color: aqua; */
}

/* .current-program-info .tag-container{
    display: inline-block;
} */

/* .container-tag-info {
    display: flex;
    align-items: center;
} */

.current-tag-info {
    /* display: inline-block; */
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 2px 8px;
    border-radius: 6px;
    background-color: #f39c12;
}

.curr-pro {
    font-weight: bold;
    font-size: 1.2rem;
}

.curr-pro-txt, .frequency-band {
    color: #e2e2e2;
    font-size: 0.8rem;
}

.controls {
    /* margin: 20px; */
    padding: 0 20px;
    background-color: #005530;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    /* width: 170px; */
    height: 80px;
    /* background-color: tan; */
    /* padding: 0 20px; */
}

.controls .control-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-end;
    /* background-color: yellow; */
}

.controls button, .volume-control {
    font-size: 16px;
    border: none;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.controls button#playPauseBtn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* margin-top: 10px; */
}

.volume-control,.controls button#syncBtn{
    /* color: white; */
    font-weight: bold;
    width: 110px;
    height: 30px;
    padding: 0 15px;
    border-radius: 25px;
    /* margin-top: 10px; */
}

.volume-control {
    /* background-color: tan; */
    /* width: 100%; */
    /* height: 50%; */
    /* background-color: teal; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.controls button:hover, .volume-control:hover {
    transform: scale(1.01);
    background-color: #fff;
}

.volume-control .icon{
    /* background-color: rebeccapurple; */
    /* width: 50px; */
    /* height: 50px; */
}

.customRange {
    width: calc(100% - 18px);
    margin-left: 5px;
    height: 8px;
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(to right, #4CAF50 0%, #4CAF50 100%, #ddd 100%, #ddd 100%);
    border-radius: 5px;
    outline: none;
    position: relative;
}

.customRange::-webkit-slider-thumb {
    visibility: hidden;
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.customRange:hover::-webkit-slider-thumb {
    visibility: initial;
}

.customRange::-moz-range-thumb {
    visibility: hidden;
    width: 15px;
    height: 15px;
    background: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border: 0;
}
.customRange:hover::-moz-range-thumb {
    visibility: initial;
}

.customRange::-ms-thumb {
    visibility: hidden;
    width: 20px;
    height: 20px;
    background: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.app-promo {
    background-color: wheat;
}

/* .station-info h2 {
    margin: 0;
    font-size: 26px;
    font-weight: 700;
    color: #E9E9E9;
}

.station-info p {
    text-align: center;
    margin: 10px 0 30px;
    color: #bbb;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}


.controls button:hover {
    background: linear-gradient(145deg, #FFD200, #F7971E);
    box-shadow: 0 10px 20px rgba(247, 151, 30, 0.5);
}

.volume-control {
    margin-top: 30px;
    text-align: center;
}

.volume-control label {
    margin-right: 15px;
    color: #fff;
    font-weight: bold;
}

.volume-control input[type="range"] {
    width: 100%;
    background-color: #444;
    cursor: pointer;
}

.volume-control input[type="range"]::-webkit-slider-thumb {
    background: #FF4B2B;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff;
    display: none;
}

#seekBar {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    height: 8px;
    cursor: pointer;
}

#seekBar::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    background-color: #FFD200;
    border-radius: 50%;
    cursor: pointer;
}

#currentTime, #duration {
    width: 55px;
    text-align: center;
    color: #E9E9E9;
} */


@keyframes colorChange {
    0% {
        color: var(--Rojo);
    }
    33% {
        color: var(--VerdeClaro);
    }
    66% {
        color: var(--AzulCLaro);
    }
    100% {
        color: var(--Rojo);
    }
}
h1 {
    animation: colorChange 5s infinite; /* Cambia los colores cada 3 segundos */
    text-align: center;
}
h2, p {
    margin-left: 10%;
    margin-right: 10%;
}
h2 {
    font-size: 35px;
    margin-bottom: 0; /* Elimina el margen inferior */
}
p {
    margin-top: 0; /* Elimina el margen superior */
    line-height: 1.6;
    text-align: justify;
}


/* Programación */
.programacion_cont {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.programas_div_par, .programas_div_impar {
    background-color: var(--VerdeClaro);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
}

.imgprog {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.descrip p {
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
    color: var(--obscuro);
}

@media (max-width: 768px) {
    .programacion_cont {
        padding-left: 1rem; /* Reduce el padding izquierdo */
        padding-right: 1rem; /* Agrega padding derecho */
    }

    .programas_div_par, .programas_div_impar {
        width: 100%; /* Hace que los contenedores ocupen el ancho completo */
        margin: 1rem 0; /* Ajusta el margen para dar espacio entre los elementos */
        padding: 1rem; /* Reduce el padding para mejorar la distribución del espacio */
        height: auto; /* Ajusta la altura automáticamente */
    }

    .imgprog {
        width: 4rem; /* Ajusta el tamaño de las imágenes para que se vean mejor en pantallas pequeñas */
        height: auto; /* Mantiene la proporción de la imagen */
    }

    .descrip {
        margin-left: 1rem; /* Ajusta el espacio entre la imagen y el texto */
        font-size: 1rem; /* Reduce el tamaño del texto para mejorar la visualización */
    }

    .title_descrip {
        font-size: 1.5rem; /* Reduce ligeramente el tamaño del título */
    }
}
/* Barra de busqueda Fin */


/* uaa inicio */
.container-uaa {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.container-uaa a {
    text-decoration: none;
}

.container-uaa img {
    border-radius: 6px;
    width: 150px;
    height: 150px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

}

.container-uaa img .dark {
    background-color: var(--GrisClaro);
} 

.container-uaa img:hover {
    transform: scale(1.1);
}
/* uaa fin */

footer {
    background-color: var(--VerdeClaro);
    text-align: center;
    font-weight: bold;
    padding-left: 13%;
}


