:root {
    --Blanco: #fff;
    --AzulCLaro: #3498db;
    --VerdeClaro: #2ecc71;
    --Rojo: #e74c3c;
    --GrisClaro: #dfe9f3;
    --obscuro: #333;
    --seagreen: #2E8B57;
    --VerdeObscuro: #006400;
    --verdeaqua: #66CDAA;
    --Azulligero: #ADD8E6;
    --verdemasclaro: #4bb578;
}

  
html {
    height: 100%;
}




body {
    background: radial-gradient(circle, #E0FFFF 0%, #ADD8E6 25%, #F0F8FF 70%);
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
    margin: 0;
    padding: 0; 
}



.container{
    /* width: 100%; */
    padding: 6rem;   
    /* display:flex; */
    justify-content: space-between;
    /* align-items: center; */
    /* gap: 10rem; */
}
   
.titulos{
    /* max-width: 50%; */
    /* box-sizing: border-box; */
    /* margin-top: 6%; */
    text-align: center;
    animation: colorChange 5s infinite;
    /* z-index: -6; */
}


.slider-box{
    width: 50%;
    /* box-sizing: border-box; */
    overflow: hidden;
    /* position: relative; */
    margin: 0 auto; /* Centra el slider horizontalmente */
    border: solid 10px var(--VerdeObscuro);
    border-radius: 1rem;
}
.slider-box ul{
    display: flex;
    width: 400%;
    animation: slide 20s infinite linear; /* Cambiado para un movimiento continuo */
    /* list-style: none; */
}
.slider-box li{
    height: 300px;
}
.slider-box img{
    width: 730px;
    height: 350px;
    margin-top: -3%; 
    /* object-fit: cover;  */
}
@keyframes slide {
    100% { transform: translateX(-55%); } /* Desplazar todo el contenido del carrusel */
}

.container-radio-player {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    padding: 20px;
}

div.radio-player {
    padding: 3rem;   
    background: rgba(0, 0, 0, 0.8);
    padding: 25px;
    border-radius: 15px;
    color: #fff;
    width: 320px;
    text-align: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;
}

div.radio-player:hover {
    /* transform: translateY(-10px); */
    transform: scale(1.1);
}
.station-info h2 {
    margin: 0;
    font-size: 26px;
    font-weight: 700;
    color: #E9E9E9;
}

.station-info p {
    text-align: center;
    margin: 10px 0 30px;
    color: #bbb;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.controls button {
    font-size: 16px;
    background: linear-gradient(145deg, #FF416C, #FF4B2B);
    border: none;
    color: #fff;
    width: 55px;
    height: 55px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(255, 75, 43, 0.5);
    transition: background 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.controls button:hover {
    background: linear-gradient(145deg, #FFD200, #F7971E);
    box-shadow: 0 10px 20px rgba(247, 151, 30, 0.5);
}

.volume-control {
    margin-top: 30px;
    text-align: center;
}

.volume-control label {
    margin-right: 15px;
    color: #fff;
    font-weight: bold;
}

.volume-control input[type="range"] {
    width: 100%;
    background-color: #444;
    cursor: pointer;
}

.volume-control input[type="range"]::-webkit-slider-thumb {
    background: #FF4B2B;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff;
    display: none;
}

#seekBar {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    height: 8px;
    cursor: pointer;
}

#seekBar::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    background-color: #FFD200;
    border-radius: 50%;
    cursor: pointer;
}

#currentTime, #duration {
    width: 55px;
    text-align: center;
    color: #E9E9E9;
}


@keyframes colorChange {
    0% {
        color: var(--Rojo);
    }
    33% {
        color: var(--VerdeClaro);
    }
    66% {
        color: var(--AzulCLaro);
    }
    100% {
        color: var(--Rojo);
    }
}
h1 {
    animation: colorChange 5s infinite; /* Cambia los colores cada 3 segundos */
    text-align: center;
}
h2, p {
    margin-left: 10%;
    margin-right: 10%;
}
h2 {
    font-size: 35px;
    margin-bottom: 0; /* Elimina el margen inferior */
}
p {
    margin-top: 0; /* Elimina el margen superior */
    line-height: 1.6;
    text-align: justify;
}


/* Programación */
.programacion_cont {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.programas_div_par, .programas_div_impar {
    background-color: var(--verdeaqua);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
}

.imgprog {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.descrip p {
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
    color: var(--obscuro);
}

@media (max-width: 768px) {
    .programacion_cont {
        padding-left: 1rem; /* Reduce el padding izquierdo */
        padding-right: 1rem; /* Agrega padding derecho */
    }

    .programas_div_par, .programas_div_impar {
        width: 100%; /* Hace que los contenedores ocupen el ancho completo */
        margin: 1rem 0; /* Ajusta el margen para dar espacio entre los elementos */
        padding: 1rem; /* Reduce el padding para mejorar la distribución del espacio */
        height: auto; /* Ajusta la altura automáticamente */
    }

    .imgprog {
        width: 4rem; /* Ajusta el tamaño de las imágenes para que se vean mejor en pantallas pequeñas */
        height: auto; /* Mantiene la proporción de la imagen */
    }

    .descrip {
        margin-left: 1rem; /* Ajusta el espacio entre la imagen y el texto */
        font-size: 1rem; /* Reduce el tamaño del texto para mejorar la visualización */
    }

    .title_descrip {
        font-size: 1.5rem; /* Reduce ligeramente el tamaño del título */
    }
}
/* Barra de busqueda Fin */


/* Botones de redes sociales inicio */
.social-buttons {
    position: fixed;
    bottom: 20%;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-button {
    text-decoration: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Blanco);
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.social-button i {
    font-size: 25px;
}

.whatsapp {
    background: linear-gradient(145deg, #25D366, #128C7E); /* Verde de WhatsApp */
}

.instagram {
    background: linear-gradient(145deg, #F58529, #DD2A7B, #8134B8); /* Colores de Instagram */
}

.facebook {
    background: linear-gradient(145deg, #4267B2, #3B5998); /* Azul de Facebook */
}

.spotify {
    background: linear-gradient(145deg, #1DB954, #1ED760); /* Verde de Spotify */
}

.social-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    background-color: var(--Amarillo);
}
/* Botones de redes sociales fin */

/* uaa inicio */
.container-uaa {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.container-uaa a {
    text-decoration: none;
}

.container-uaa img {
    border-radius: 6px;
    width: 150px;
    height: 150px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 20px;
}

.container-uaa img .dark {
    background-color: var(--GrisClaro);
} 

.container-uaa img:hover {
    transform: scale(1.1);
}
/* uaa fin */

.arrow-down::after {
    position: absolute;
    top: 4px;
    right: -15px;
    content: "";
    border: solid var(--Blanco);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

footer {
    background-color: var(--VerdeClaro);
    text-align: center;
    font-weight: bold;
    padding-left: 13%;
}


