:root {
    --Blanco: #fff;
    --VerdeClaro: #2ecc71;
    --Rojo: #e74c3c;
    --GrisClaro: #dfe9f3;
    --obscuro: #333;
    --seagreen: #2E8B57;
    --VerdeObscuro: #006400;
    --verdeaqua: #66CDAA;
    --verdemasclaro: #4bb578;
}

.dark {
    background: none;
    background-color: #333;
    color: white;
}

#toggle {
    display: none;
}

#label_toggle {
    display: flex;
    font-size: 1.5rem;
    color: var(--Blanco);
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, #66ff99 0%, #00cc44 50%, #006600 100%);
    padding: 12px 25px;
    border-radius: 4rem;
    margin: 20px;
    box-shadow: 0 4px 15px rgba(0, 255, 128, 0.4); /* Efecto de sombra con color */
    transition: all 0.4s ease-in-out; /* Transición suave */
}

.logo img {
    width: 60px;
    height: auto;
    margin-right: 20px;
    /* border: solid 2px var(--obscuro);
    padding: 6px; */
}

.nav-links {
    font-weight: bold;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.nav-links li {
    margin-left: 50px;
    position: relative;
}

.nav-links a {
    color: var(--Blanco);
    text-decoration: none;
    font-size: 15px;
    transition:  transform 0.4s ease; 
}

.nav-links a:hover {
    color: var(--obscuro);
    background-color: var(--VerdeClaro);
    transform: scale(1.2); 
    text-decoration: underline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--Blanco);
    list-style: none;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.dropdown-content li {
    margin: 0;
}

.dropdown-content a {
    color: var(--obscuro);
    padding: 10px 20px;
    display: block;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content li:first-child a:hover {
    border-radius: 4px 4px 0 0;
}

.dropdown-content li:last-child a:hover {
    border-radius: 0 0 5px 5px;
}

.dark-mode-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

#cont-icon-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

#cont-icon-search i {
    font-size: 18px;
    color: var(--Blanco);
    cursor: pointer;
    transition: all 300ms;
}

#cont-icon-search i:hover {
    color: var(--obscuro);
}

#cont-bars-search {
    margin-top: 10%;
    top: 40px;
    position: absolute;
    margin-top: 10px;
    left: 500px;
    border-radius: 0 0 1rem 1rem;
    background: var(--VerdeClaro);
    padding: 8px;
    transition: top 600ms ease;
    z-index: -1;
}

.zchange {
    animation: zchange .5s forwards; /* Animación estándar */
    -webkit-animation: zchange .5s forwards; /* Prefijo para WebKit (Safari, Chrome) */
    -moz-animation: zchange .5s forwards; /* Prefijo para Firefox */
    -o-animation: zchange .5s forwards; /* Prefijo para Opera */
}


@keyframes zchange {
    0% {
        z-index: -1;
    }
    99% {
        z-index: -1;
    }
    100% {
        z-index: 10;
    }
}
  

#cont-bars-search input {
    width: 520px;
    padding: 10px;
    border-radius: .5rem;
    font-size: 17px;
    outline: 0;
}

#box-search {
    list-style: none;
    position: absolute;
    top: 23%;
    left: 510px;
    width: 500px;
    color: var(--obscuro);
    background: var(--GrisClaro);
    z-index: 8;
    overflow: hidden;
    display: none;
}

#box-search li a {
    display: block;
    /* width: 1200px; */
    text-align: left;
    color: var(--obscuro);
    padding: 12px 20px;
}

#box-search li a:hover {
    background: var(--Blanco);

}

#box-search li a i {
    margin-right: 10px;
    color: var(--obscuro);
}

/* Estilos para el botón de hamburguesa */
.hamburger {
    display: none; /* Oculto por defecto */
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: var(--Blanco);
    margin: 4px;
    transition: 0.3s;
}

/* Menu oculto en móviles */
.nav-links {
    display: flex;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px;
    }

    .logo {
        order: 1; /* Alinea el logo a la izquierda */
    }

    .hamburger {
        order: 2; /* Centra el botón de hamburguesa */
        display: flex;
    }

    .dark-mode-toggle {
        order: 3; /* Alinea el ícono del modo oscuro a la derecha */
        margin-left: auto;
    }

    #cont-icon-search {
        order: 4; /* Alinea el ícono de búsqueda a la derecha */
    }

    .nav-links {
        display: none; /* Esconde el menú de navegación por defecto */
        flex-direction: column; /* Cambia a disposición vertical */
        width: 100%;
        position: absolute;
        top: 60px; /* Ajusta el espacio */
        left: 0;
        background-color: var(--Rojo);
        border-radius: 0 0 1rem 1rem;
        z-index: 1;
    }

    .nav-links.active {
        display: flex; /* Muestra el menú cuando está activo */
    }

    .nav-links li {
        margin: 0; /* Elimina el margen para elementos en el menú desplegable */
    }

    .nav-links a {
        padding: 15px; /* Aumenta el padding para el menú móvil */
        text-align: center;
    }

    /* Cambios en el botón de hamburguesa al estar activo */
    .hamburger.toggle span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger.toggle span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.toggle span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .dropdown-content {
        position: relative;
    }
}
