:root {
    --Blanco: #fff;
    --AzulCLaro: #3498db;
    --VerdeClaro: #2ecc71;
    --Rojo: #e74c3c;
    --GrisClaro: #dfe9f3;
    --obscuro: #333;
    --seagreen: #2E8B57;
    --VerdeObscuro: #006400;
    --verdeaqua: #66CDAA;
    --Azulligero: #ADD8E6;
    --verdemasclaro: #4bb578;
}
body {
    background-size: cover;
    background: radial-gradient(circle, #E0FFFF 0%, #ADD8E6 25%, #F0F8FF 70%);
    font-family: Arial, Helvetica, sans-serif;
    /* transition: all 2s ease; */
    margin: 0;
    padding: 0;
}

html, body{
    margin: 0;
    padding: 5px 0;
}

table {
    width: 90%;
    border-collapse: separate;
    margin: 20px 0;
    margin-left: 10px;
    border-spacing: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
}
thead th{
    background-color:#4caf50;
    color: white;
    padding: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;

}

tbody td, thead th{
    border-bottom: 1px solid #dddddd;
    padding: 12px;
    text-align: center;
    transition: background-color 0.3s ease;
    }

tbody td{
    background-color: #fff;
}
tbody tr:nth-child(even) td{
    background-color: #f9f9f9;
}
tbody td:hover{
    background-color: #e0f7fa;
    cursor: pointer;
}
td:first-child{
    background-color: #f2f2f2;
    font-weight: bold;
    border-right: 1px solid #dddddd;
}

tbody td:first-child:hover {
    background-color: #128C7E; 
}
table th:first-child {
    border-radius: 12px 0 0 0;
}

table tr:last-child td:first-child {
    border-radius: 0 0 0 12px;
}



/* Botones de redes sociales inicio */
.social-buttons {
    position: fixed;
    bottom: 20%;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-button {
    text-decoration: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Blanco);
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.social-button i {
    font-size: 25px;
}

.spotify {
    background: linear-gradient(145deg, #1DB954, #1ED760); /* Verde de Spotify */
}

.social-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    background-color: var(--Amarillo);
}
/* Botones de redes sociales fin */
