:root {
    --Blanco: #fff;
    --VerdeClaro: #2ecc71;
    --Rojo: #e74c3c;
    --GrisClaro: #dfe9f3;
    --obscuro: #333;
    --seagreen: #2E8B57;
    --VerdeObscuro: #006400;
    --snow: #FFFAFA;
    --verdeaqua: #66CDAA;
    --verdemasclaro: #4bb578;
}

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    margin-top: 60px;
}

.dark {
    background: none;
    background-color: #333;
    color: white;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggle {
    display: none;
}

#label_toggle {
    /* display: flex; */
    /* font-size: 1.5rem; */
    color: var(--Blanco);
    cursor: pointer;
}

header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    z-index: 10;
    /* padding: 0 1vw; */
}

.navbar {
    /* position: fixed; */
    width: 100vw;
    height: 100%;
    display: flex;
    /* padding: 10px; */
    justify-content: space-around;
    align-items: center;
    /* background-color: #04AA6D; */
    background-color: #027543;

    /* background: linear-gradient(160deg, #66ff99 0%, #00cc44 100%); */
    /* background: linear-gradient(90deg, #66ff99 0%, #00cc44 50%, #006600 100%); */
    /* padding: 12px 25px; */
    /* border-radius: 15px; */
    /* margin: 20px; */
    /* box-shadow: 0 4px 15px rgba(0, 255, 128, 0.4); */
    transition: all 0.4s ease-in-out; /* Transición suave */
    padding: 0 30px;
}

.logo{
    width: 40px;
    height: 100%;
    /* margin-right: 50px; */
    /* background-color: yellow; */
}

.logo a{
    /* background-position: center; */
}

.logo img {
    /* width: 40px; */
    height: 40px;
    /* aspect-ratio: 1/1; */
    margin-right: 20px;
    /* border: solid 2px var(--obscuro);
    padding: 6px; */
}

.nav-links {
    height: 100%;
    /* padding: 0;
    margin: 0;
    font-weight: bold;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; */
    /* margin-right: 20px; */
}

.nav-links li {
    /* margin-left: 50px; */
    position: relative;
    height: 100%;
}

.nav-links > *:not(:first-child) {
    /* Estilos que deseas aplicar */
    margin-left: 40px;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: inline-block; */
    height: 100%;
    color: var(--Blanco);
    text-decoration: none;
    font-size: 1rem;
    transition: transform 0.4s ease;
}

.nav-links a:hover {
    /* color: var(--obscuro); */
    /* background-color: var(--VerdeClaro); */
    /* transform: scale(1.2);  */
    /* text-decoration: underline; */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--Blanco);
    list-style: none;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    z-index: 1;/*nuevo*/
}

.dropdown-content li {
    margin: 0;
}

.dropdown-content a {
    color: var(--obscuro);
    padding: 10px 20px;
    display: block;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content li:first-child a:hover {
    border-radius: 4px 4px 0 0;
}

.dropdown-content li:last-child a:hover {
    border-radius: 0 0 5px 5px;
}

.dark-mode-toggle {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* margin-left: 20px; */
}

#cont-icon-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

#cont-icon-search i {
    font-size: 18px;
    color: var(--Blanco);
    cursor: pointer;
    transition: all 300ms;
}

#cont-icon-search i:hover {
    color: var(--obscuro);
}

#cont-bars-search {
    position: relative;
    /* background-color: white;
    display: flex;
    height: 40px;
    padding: 0 10px;
    border-radius: 6px; */
}

.zchange {
    animation: zchange .5s forwards; /* Animación estándar */
    -webkit-animation: zchange .5s forwards; /* Prefijo para WebKit (Safari, Chrome) */
    -moz-animation: zchange .5s forwards; /* Prefijo para Firefox */
    -o-animation: zchange .5s forwards; /* Prefijo para Opera */
}


@keyframes zchange {
    0% {
        z-index: -1;
    }
    99% {
        z-index: -1;
    }
    100% {
        z-index: 10;
    }
}
  

#cont-bars-search input {
    /* width: 520px; */
    height: 40px;
    padding: 10px 35px 10px 15px;
    font-size: 1rem;
    border-radius: 6px;
    /* font-size: 17px; */
    border: none;
    outline: none;
}

#cont-bars-search input::placeholder{
    color: #555;
}

#cont-bars-search input:focus{
    outline: 3px solid;
    outline-color: #1EC95A;
}

.search-icon{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 0;
}

#box-search {
    list-style: none;
    position: absolute;
    top: 23%;
    left: 510px;
    width: 500px;
    color: var(--obscuro);
    background: var(--GrisClaro);
    z-index: 8;
    overflow: hidden;
    display: none;
}

#box-search li a {
    display: block;
    /* width: 1200px; */
    text-align: left;
    color: var(--obscuro);
    padding: 12px 20px;
}

#box-search li a:hover {
    background: var(--Blanco);

}

#box-search li a i {
    margin-right: 10px;
    color: var(--obscuro);
}

/* Estilos para el botón de hamburguesa */
.hamburger {
    display: none; /* Oculto por defecto */
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: var(--Blanco);
    margin: 4px;
    transition: 0.3s;
}

/* Menu oculto en móviles */
.nav-links {
    display: flex;
}

.arrow-down::after {
    position: absolute;
    top: 25px;
    right: -15px;
    content: "";
    border: solid rgba(255, 255, 255, 0.521);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px;
    }

    .logo {
        order: 1; /* Alinea el logo a la izquierda */
    }

    .hamburger {
        order: 2; /* Centra el botón de hamburguesa */
        display: flex;
    }

    .dark-mode-toggle {
        order: 3; /* Alinea el ícono del modo oscuro a la derecha */
        margin-left: auto;
    }

    #cont-icon-search {
        order: 4; /* Alinea el ícono de búsqueda a la derecha */
    }

    .nav-links {
        display: none; /* Esconde el menú de navegación por defecto */
        flex-direction: column; /* Cambia a disposición vertical */
        width: 100%;
        position: absolute;
        top: 60px; /* Ajusta el espacio */
        left: 0;
        background-color: var(--Rojo);
        border-radius: 0 0 1rem 1rem;
        z-index: 1;
    }

    .nav-links.active {
        display: flex; /* Muestra el menú cuando está activo */
    }

    .nav-links li {
        margin: 0; /* Elimina el margen para elementos en el menú desplegable */
    }

    .nav-links a {
        padding: 15px; /* Aumenta el padding para el menú móvil */
        text-align: center;
    }

    /* Cambios en el botón de hamburguesa al estar activo */
    .hamburger.toggle span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger.toggle span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.toggle span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .dropdown-content {
        position: relative;
    }
}

/* Botones de redes sociales inicio */
.social-buttons {
    position: fixed;
    bottom: 10%;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-button {
    text-decoration: none;
    width: 60px;
    height: 60px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    /* transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; */
}

/* .social-button i {
    font-size: 25px;
} */

.whatsapp {
    background: linear-gradient(145deg, #25D366, #128C7E); /* Verde de WhatsApp */
}

.instagram {
    background: linear-gradient(145deg, #F58529, #DD2A7B, #8134B8); /* Colores de Instagram */
}

.facebook {
    background: linear-gradient(145deg, #4267B2, #3B5998); /* Azul de Facebook */
}

.spotify {
    background: linear-gradient(145deg, #1DB954, #1ED760); /* Verde de Spotify */
}

.google-play {
    background: linear-gradient(145deg, #34A853, #4285F4); /* Verde y azul de Google Play */
}

.apple-store {
    background: linear-gradient(145deg, #A2AAAD, #1C1C1E); /* Gris y negro de Apple Store */
}

.social-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    background-color: var(--Amarillo);
}
/* Botones de redes sociales fin */

/* .app-promo {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    max-width: 300px;
}

.app-promo-content {
    text-align: center;
}

.app-promo h3 {
    margin-top: 0;
    font-size: 20px;
}

.app-promo p {
    font-size: 16px;
    margin-bottom: 15px;
}

.app-links {
    display: flex;
    justify-content: space-around;
}

.app-link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #28a745;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.app-link:hover {
    background-color: #218838;
}

.app-link.android {
    background-color: #007bff;
}

.app-link.ios {
    background-color: #ffc107;
    margin-left: 10px;
} */
