*,
*::before,
*::after {
    box-sizing: border-box;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    text-wrap: nowrap;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr.values {
    cursor: pointer;
}
tr.values:hover {
    /* background-color: #96969681; */
    background-color: #007bff;
    color: white;
}

td.contentName {
    width: 80px;
}

#original_forms {
    display: none;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 10vh;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 960px;
    /* height: 90%; */
    overflow: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 0.4s;
    animation-name: fadein;
    animation-duration: 0.4s;
}

.fadeout {
    -webkit-animation-name: fadeout;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeout;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes fadein {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* Add Animation */
@-webkit-keyframes fadeout {
    from {
        top: 0px;
        opacity: 1;
    }
    to {
        top: -300px;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 0px;
        opacity: 1;
    }
    to {
        top: -300px;
        opacity: 0;
    }
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

.rowfadein {
    animation: newContentEffect 1s ease-in-out;
}

@keyframes newContentEffect {
    0% {
        opacity: 0;
        transform: translateX(
            100%
        ); /* Comienza fuera del contenedor, a la derecha */
        background-color: rgba(0, 255, 0, 0.3);
    }
    80% {
        opacity: 1;
        transform: translateX(0); /* Se desplaza a su posición final */
        background-color: rgba(0, 255, 0, 0.5); /* Fondo verde */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* Se queda en su lugar */
        background-color: transparent; /* El fondo vuelve a ser transparente */
    }
}

main {
    max-width: 960px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* .contentField { */
/* background-color: #f9f9f9;  */
/* border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; */
/* } */

.contentField {
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

.contentField > div {
    width: 90%;
}

.contentField > button {
    width: 10%;
}

.div-button {
    margin-top: 20px;
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
}

.contentName {
    padding: 14px 10px;
    font-size: 1.3rem;
    font-weight: bold;
}

.fieldTitle {
    font-weight: bold;
    margin-bottom: 8px;
    color: #5a5a5a;
    font-size: 16px;
}

.currentValue {
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #666;
}

img {
    max-width: 300px;
    border-radius: 5px;
}

.schedule-group {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.schedule-group>div {
    flex: 1;
}

.schedule-header {
    display: flex;
    justify-content: space-between;

    margin-bottom: 5px;
}

.schedule-days {
    list-style: none;
    font-size: 14px;
    color: #333;
}

.schedule-time {
    margin: auto;
    font-size: 14px;
    color: #666;
}

.schedule-tag {
    margin: auto;
}

.schedule-tag span {
    color: white;
    font-size: 0.85rem;
    padding: 2px 8px;
    border-radius: 4px;
}

.live {
    background-color: #27ae60;
}

.retransmission {
    background-color: #f39c12;
}

.fieldTitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    flex-basis: 100%;
}

/* Presenters list styling */
.item-list {
    list-style: none;
    padding: 0;
    margin: 0 0 16px 0;
    flex-grow: 1;
}

.item-list li {
    margin-bottom: 8px;
}

.item-link {
    text-decoration: none;
    color: #3498db;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.item-link:hover {
    color: #2980b9;
}

.warning{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.delete-message {
    align-items: center;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: #333;
}

.highlight {
    color: #e53935;
    font-weight: bold;
}
