:root {
    --Blanco: #fff;
    --VerdeClaro: #2ecc71;
    --Rojo: #e74c3c;
    --GrisClaro: #dfe9f3;
    --obscuro: #333;
    --seagreen: #2E8B57;
    --VerdeObscuro: #006400;
    --snow: #FFFAFA;
    --verdeaqua: #66CDAA;
    --verdemasclaro: #4bb578;
    --Bisque: #FFE4C4;
    --silver: #C0C0C0;
}

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 0;
    padding: 0; */
}

body {
}

main#content {
    width: 90%;
    margin: 0 auto;
    padding: 100px 0 60px 0;
    /* background-color: yellow; */
}

.light {
    background-color: #ffffff;
    color: black;
    fill: black;
}

.light .c1 {
    background-color: #f2f2f2;
    color: black;
    fill: black;
}

.light .c2 {
    background-color: #dddddd;
    color: black;
    fill: black;
}

.light .shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.dark {
    background-color: #171717;
    color: white;
    fill: white;
}

.dark .c1 {
    background-color: #292929;
    color: white;
    fill: white;
}

.dark .c2 {
    background-color: #505050;
    color: white;
    fill: white;
}

.dark .shadow {
    box-shadow: rgba(204, 204, 204, 0.5) 2px 2px 2px;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    padding-bottom: 10px;
}

li {
    list-style: none;
}

.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.container-social-buttons {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: max-content;
    margin-left: auto; */
    /* top: 120px; */
    bottom: calc(50vh - 285px / 2);
    right: 0;
    width: 60px;
    /* height: calc(100vh - (100px)); */
    /* background-color: yellow; */
    z-index: 2;
}

/* Botones de redes sociales inicio */
.social-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* background-color: tan; */
}

.social-button {
    text-decoration: none;
    width: 60px;
    height: 60px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    /* transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; */
}

/* .social-button i {
    font-size: 25px;
} */

/* .whatsapp {
    background: linear-gradient(145deg, #25D366, #128C7E);
}

.instagram {
    background: linear-gradient(145deg, #F58529, #DD2A7B, #8134B8);
}

.facebook {
    background: linear-gradient(145deg, #4267B2, #3B5998);
}

.spotify {
    background: linear-gradient(145deg, #1DB954, #1ED760);
} */

footer {
    padding: 0 10px;
    /* background-color: yellow; */
}

.container-uaa {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 20px;
    justify-content: space-evenly;
    /* background-color: tan; */
}

.light .container-uaa{
    border: solid #EDEDED;
    border-width: 1px 0 1px 0;
}

.dark .container-uaa {
    border: solid #292929;
    border-width: 1px 0 1px 0;
}

.container-uaa a{
    fill: inherit;
}

.container-uaa img {
    border-radius: 6px;
    max-width: 180px;
    min-width: 100px;
    width: 10vw;
    max-height: 180px;
    min-height: 100px;
    height: 10vw;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
}

/* .container-uaa img .dark{
    background-color: var(--GrisClaro);
}  */

.container-uaa img:hover {
    transform: scale(1.1);
}

/* botones descarga inicio */
.container-download-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #f3f3f3; */
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}

.download-buttons {
    display: flex;
    gap: 15px; 
}

.download-button {
    width: 200px; 
    height: 60px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* .google-play {
    background-color: #000000;
    color: #ffffff;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 200px; 
    height: 50px;
}

.google-play:hover {
    background-color: #333333;
    transform: translateY(-3px);
}

.apple-store {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 200px; 
    height: 50px;
}

.apple-store:hover {
    background-color: #333333;
    transform: translateY(-3px);
} */
/* botones descarga fin */


.copyright-container {
    /* background-color: teal; */
    padding: 20px 0;
    /* width: 100%;  */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.copyright-container .copyright-text {
    font-weight: bold;
}

.copyright-container .copyright-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.copyright-container .copyright-links a {
    color: #27AE60;
}

.copyright-container .copyright-links a:hover {
    color: #27AE60;
    text-decoration: underline;
}


.animated-text {
    display: flex;
    gap: 10px; 
    justify-content: center;
    align-items: center;
    height: 10vh; 
    font-size: 1.8rem; 
    font-weight: bold;
    overflow: hidden;
}

.animated-text span {
    display: inline-block;
    transform: translateY(0);
    animation: bounceIn 2s cubic-bezier(0.25, 1, 0.5, 1) infinite;
}

.animated-text span:nth-child(1) {
    animation-delay: 0s;
}

.animated-text span:nth-child(2) {
    animation-delay: 0.4s;
}

.animated-text span:nth-child(3) {
    animation-delay: 0.7s;
}

@keyframes bounceIn {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px); 
    }
    70% {
        transform: translateY(5px); 
    }
}

@media (max-width: 768px){
    main{
        margin-top: 70px;
    }

    .copyright-container .copyright-links{
        flex-direction: column;
        /* border-width: ; */
    }

    .copyright-container .copyright-links a {
        width: 100%;
    }

    .copyright-container .copyright-links a:first-child {
        padding: 20px 0 10px 0;
    }

    .copyright-container .copyright-links a:last-child{
        padding: 10px 0 20px 0;
    }
}