:root{
    --success: rgb(0, 255, 0);
    --warning: yellow;
    --danger: red;
}

.text-success{
    color: var(--success);
}
.text-warning{
    color: var(--warning);
}
.text-danger{
    color: var(--danger);
}

body, ul{
    margin: 0;
}

table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

tr th{
    background-color: black;
    color: white;
    border: 1px solid white;
}

td, th{
    padding: 5px;
}

.days-left{
    background-color: black;
    color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 30px;
    /* border: 2px solid black; */
    border-radius: 0 20px 20px 0;
    padding: 10px 20px 10px 10px;
    pointer-events: none;
}

#creation_form{
    display: none;
}

.error {color: #FF0000;}

header.nav-header{
    background-color: #027543;

}

div.player{
    margin: auto;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}

.option, .option a{
    text-decoration: none;
    color: white;
}

/* ########## Player ######### */
body.radio-player {
    font-family: Arial, sans-serif;
    /* display: flex; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
}

div.radio-player {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.station-info h2 {
    margin: 0;
    font-size: 24px;
}

.station-info p {
    margin: 5px 0 20px;
    color: #bbb;
}

.controls button {
    font-size: 15px;
    text-align: center;
    background: #ff6b6b;
    border: none;
    color: #fff;
    /* padding: 10px; */
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.controls button:hover {
    background: #ff7b7b;
}

.volume-control {
    margin-top: 20px;
    text-align: center;
}

.volume-control label {
    margin-right: 10px;
    color: #fff;
}

.volume-control input[type="range"] {
    width: 100%;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #fff;
    display: none;
}

#seekBar {
    flex: 1;
}

#currentTime, #duration {
    width: 50px;
    text-align: center;
}

/* inicio */
#toggle{
    display: none;
}

#label_toggle{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 2em;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.dark, .white{
    transition: color 2s ease, background-color 2s ease;
}

.white{
    background-color: white;
    color: black;
}

.dark {
    background-color: #333;
    color: white;
}

/* fin */